body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    cursor: none
}

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamMedium.ttf');
}

@font-face {
    font-family: 'GothamThin';
    src: url('../fonts/GothamThin.otf');
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/GothamLight.otf');
}

@font-face {
    font-family: 'GothamBlack';
    src: url('../fonts/GothamBlack.otf');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.otf');
}

.loader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 12vh;
    font-family: 'Nanum Gothic', sans-serif;
}

.title {
    font-family: 'Commissioner', sans-serif;
    font-size: 13vw;
    font-weight: 700;
    color: #383333;
    padding: 50px 60px 60px 60px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: rgb(10, 10, 10);
}

.lettre {
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: rgb(244, 29, 201);
    color: #ffd6d6;
    border-radius: 50%;
    text-shadow:
        0 0 16px #ffd6d6,
        0 0 16px #ffd6d6,
        0 0 32px #ff03c8,
        0 0 64px #ff03c8,
        0 0 90px #ff03c8,
        0 0 124px #ff03c8;
}

.lettreP {
    animation: flashing 0.1s infinite alternate;
    animation-delay: 0.6s;
}

.lettreO {
    animation: flashing .2s infinite alternate;
    animation-delay: 3.2s;
}

.lettreP2 {
    animation: flashing .5s infinite alternate;
    animation-delay: 2.4s;
}

.lettreC {
    animation: flashing 2s infinite alternate;
    animation-delay: 1.2s;
}

.lettreO2 {
    animation: flashing 0.2s infinite alternate;
    animation-delay: 0.9s;
}

.lettreD {
    animation: flashing 2.1s infinite alternate;
    animation-delay: 1.4s;
}

.lettreE {
    animation: flashing 0.7s infinite alternate;
    animation-delay: 2.2s;
}

@keyframes flashing {

    0%,
    18%,
    21%,
    32%,
    35%,
    39%,
    42%,
    100% {
        -webkit-text-stroke: 4px;
        -webkit-text-stroke-color: rgb(244, 29, 201);
        color: #ffd6d6;
        text-shadow:
            0 0 16px #ffd6d6,
            0 0 16px #ffd6d6,
            0 0 32px #ff03c8,
            0 0 64px #ff03c8,
            0 0 90px #ff03c8,
            0 0 124px #ff03c8;
    }

    20%,
    34%,
    41% {
        -webkit-text-stroke: none;
        -webkit-text-stroke-color: none;
        text-shadow: none;
        box-shadow: none;
    }
}

.lettreOff {
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: rgb(10, 10, 10);
    text-shadow: none;
    box-shadow: none;
    color: #383333;
}

.imgbug {
    background-image: url('https://c.tenor.com/0SK8wi-u_gYAAAAd/no-signal-tv.gif');
    opacity: 0.4;
    height: 100vh;
    background-size: cover;
    display: none;
}

.waitingscreen {
    display: none;
    min-height: 100vh;
    background-image: url('../img/bgbrick.png');
    background-size: cover;
    font-family: 'Gotham', sans-serif;
    color: white;
    font-size: 15vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1.4s;
}

.logo {
    width: 55vh;
    position: absolute;
    transition: all 1s;
}

.legals {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
}

.legalsgame {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    z-index: 9;
}

.mentions {
    margin: 0 30px 30px 0;
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
    border-bottom: solid 1px;
}

.mentions:hover {
    color: #FFAAFF;
    transition: all 0.3s;
}

.clicktostart {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all 1s;
}

.refnumber {
    color: #0AEFF7;
    font-size: 14vh;
    margin: 0;
}

.reftext {
    line-height: 32px;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.start {
    color: #FFAAFF;
    letter-spacing: 5px;
    transition: letter-spacing 0.6s;
}

.start:hover {
    letter-spacing: 3px;
    animation: starting 0.6s infinite alternate;
}

@keyframes starting {

    0%,
    18%,
    21%,
    32%,
    35%,
    39%,
    42%,
    100% {
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: rgb(244, 29, 201);
        color: #ffd6d6;
        text-shadow:
            0 0 16px #ffd6d6,
            0 0 16px #ffd6d6,
            0 0 32px #ff03c8,
            0 0 64px #ff03c8,
            0 0 90px #ff03c8,
            0 0 124px #ff03c8;
    }

    20%,
    34%,
    41% {
        -webkit-text-stroke: none;
        -webkit-text-stroke-color: none;
        text-shadow: none;
        box-shadow: none;
    }
}

@keyframes numberneon {

    0%,
    18%,
    21%,
    32%,
    35%,
    39%,
    42%,
    100% {
        -webkit-text-stroke: 4px;
        -webkit-text-stroke-color: #579BFE;
        text-shadow:
            0 0 16px #ffd6d6,
            0 0 16px #ffd6d6,
            0 0 32px #579BFE,
            0 0 64px #579BFE,
            0 0 90px #579BFE,
            0 0 124px #579BFE;
    }

    20%,
    34%,
    41% {
        -webkit-text-stroke: none;
        -webkit-text-stroke-color: none;
        text-shadow: none;
        box-shadow: none;
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes disappear {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}


.disappear {
    animation: disappear 1.3s alternate;
}

.msgerror {
    position: absolute;
    top: 65vh;
    left: 0;
    width: 100%;
    text-align: center;
    color: #0AEFF7;
}

.game {
    font-family: 'Gotham', sans-serif;
    width: 100%;
    /* height: 100vh; */
}

.zoom {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.zoomimg {
    bottom: 0px !important;
    left: 0px !important;
}

.backgroundgame {
    position: absolute;
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    transition: all 0.2s;
}

.petitlogo {
    height: 150px;
    position: absolute;
    right: 30px;
    top: 25px;
}

.score {
    display: flex;
    position: absolute;
    top: 23px;
    left: 20px;
}

.textscore {
    font-family: 'GothamLight', sans-serif;
    text-transform: uppercase;
    transform: rotate(-90deg);
    color: #0AEFF7;
    font-size: 9px;
    border-bottom: 1px solid white;
    letter-spacing: 2px;
    padding-bottom: 3px;
}

.errors {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.error1 {
    opacity: 0.3;
}

.error2 {
    opacity: 0.3;
}

.error3 {
    opacity: 0.3;
}

.reponses {
    margin-bottom: 3px;
    text-align: center;
}

.scorehorizontal {
    font-size: 17px;
    position: absolute;
    top: 0px;
    left: 60px;
    color: white;
    letter-spacing: 4px;
    margin-left: 6px;
    width: 76px;
}

.owned {
    font-family: 'GothamLight', sans-serif;
    color: white;
    display: flex;
    position: absolute;
    left: 91px;
    bottom: 30px;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: solid 1px white;
    padding: 0px 12px 0px 10px;
}

.owned:hover {
    border: solid 1px #FFAAFF;
    transition: all 0.3s;
}

.loupe {
    margin-right: 5px;
}

.zoomall {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #D9D9D9;
    bottom: 27px;
    left: 32px;
    font-size: 12px;
}

.zoombar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
    height: 125px;
    width: 1px;
}

.zoombarprogress {
    background-color: #0AEFF7;
    width: 1px;
    transition: height .5s;
}

.more,
.less {
    margin: 6px;
}

.less {
    margin-top: 0px;
}

.textzoom {
    transform: rotate(-90deg);
    color: #0AEFF7;
    font-size: 10px;
}

.gameshow {
    display: none;
}

.resizemsgshow {
    font-size: 7vw;
    text-align: center;
    display: flex;
}

.resizemsg {
    font-size: 7vw;
    text-align: center;
    display: none;
}

.modalanswer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.answerzone {
    width: 100%;
    height: 10vh;
    font-size: 82px;
    font-weight: 500;
    margin: 45px 0px;
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    color: white;
    /* text-align: center; */
    text-transform: uppercase;
}

.answerzone:focus-visible {
    outline: none;
}

.answerconsign {
    font-size: 13px;
    letter-spacing: 5px;
}

.modalegameover {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(247, 178, 178);
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    display: none;
}

.modalewin {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(199, 219, 197);
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    display: none;
}

.win {
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: rgb(3, 175, 3);
    letter-spacing: 12px;
    font-size: 180px;
}

.gameover {
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
    letter-spacing: 12px;
    font-size: 180px;
}

.restart {
    color: #FFAAFF;
    letter-spacing: 5px;
    transition: letter-spacing 0.6s;
    font-size: 24px;
}

.restart:hover {
    letter-spacing: 3px;
    animation: starting 0.6s infinite alternate;
}

.restartwin {
    color: #FFAAFF;
    letter-spacing: 5px;
    transition: letter-spacing 0.6s;
    font-size: 24px;
}

.restartwin:hover {
    letter-spacing: 3px;
    animation: starting 0.6s infinite alternate;
}

.modaledesc {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: 'Gotham', sans-serif;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.languagename {
    font-size: 84px;
    margin: 0;
}

.titleclose {
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 50px 0;
    text-transform: uppercase;
}

.languagelogo {
    height: 100%;
    object-fit: contain;
}

.ldesc {
    margin-left: 50px;
    font-size: 13px;
    overflow: auto;
    line-height: 20px;
}

.logodesc {
    display: flex;
    line-height: 28px;
    width: 60vw;
    height: 450px;
}

.ldesc::-webkit-scrollbar {
    width: 4px;
}

.ldesc::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.219);
    border-radius: 20px;
}

.ldesc::-webkit-scrollbar-thumb {
    background-color: #0AEFF7;
    border-radius: 20px;
    padding: 1px;
}

.closedesc {
    width: 60vw;
    display: flex;
    justify-content: flex-end;
}

.closedesc>p {
    margin: 0px 10px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 15px;
    width: 15px;
    background: transparent;
    border: 1px solid #FFAAFF;
}

input[type="checkbox"]:checked {
    background: transparent;
    position: relative;
}

input[type="checkbox"]:checked:before {
    content: '';
    display: block;
    background-color: #FFAAFF;
    width: 7px;
    height: 7px;
    top: 3px;
    left: 3px;
    position: absolute;
}

.modaleowned {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 126px;
    height: 210px;
    border: 2px solid #FFAAFF;
    border-radius: 10px;
    margin: 30px 15px;
    font-family: 'Gotham', sans-serif;
    color: white;
    padding: 3px;
}

.ownedlogo {
    width: 120px;
    height: 120px;
    margin: 3px 0;
}

.ownedtitle {
    font-size: 16px;
    margin: 0px 0px 4px 0;
    text-transform: uppercase;

}

.learnmore {
    width: 85%;
    height: 20px;
    background-color: #ffaaff55;
    font-size: 15px;
    margin: 0 0 3px 0;
    text-align: center;
    border-radius: 2px;
    padding: 3px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

.alertmsg {
    display: none;
    justify-content: center;
    position: absolute;
    top: 400px;
    width: 100%;
    color: #0AEFF7;
    font-size: 70px;
    text-align: center;
    font-style: italic;
}

.empty {
    color: white;
    position: absolute;
    top: 400px;
    width: 100%;
    font-size: 70px;
    text-align: center;
    font-family: 'Gotham', sans-serif;
}

.modalelegals {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.mentionslegales {
    color: white;
    width: 60%;
    height: 60vh;
    overflow: auto;
    font-family: 'Gotham', sans-serif;
}

.link {
    color: #FFAAFF;
}

.mentionslegales::-webkit-scrollbar {
    width: 4px;
}

.mentionslegales::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.219);
    border-radius: 20px;
}

.mentionslegales::-webkit-scrollbar-thumb {
    background-color: #0AEFF7;
    border-radius: 20px;
    padding: 1px;
}

@keyframes cursor {
    100% {
        width: 30px;
        height: 30px;
        border: 1px solid white;
    }
}

.zoomcursor {
    animation: ease-in 0.6s cursor infinite alternate;
}

.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #FFAAFF;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 5;
}

.cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    opacity: .2;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 5;
}

.hover {
    background-color: rgb(246, 18, 200);
    opacity: 0.5;
}

.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
}

.responsive {
    display: none;
}

.rlogo {
    width: 50%;
    height: 50%;
}

.consign {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 21px;
    left: 0;
    width: 100%;
    z-index: 30;
    color: white;
}

.consign > p {
    margin: 15px;
}

.fa-keyboard{
    font-size: 30px;
}



@media screen and (max-width: 1200px) {
    .responsive {
        width: 100vw;
        height: 100vh;
        background-image: url('../img/bgbrick.png');
        z-index: 9999;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .resizemsg {
        display: flex;
        color: white;
        font-family: 'Gotham', sans-serif;
    }

    .bg {
        display: none;
    }
    .scorehorizontal {
        display: none;
    }
    .petitlogo {
        display: none;
    }

    .legalsgame {
        display: none;
    }

    .owned {
        display: none;
    }

    .zoomall{
        display: none;
    }

    .score {
        display: none;
    }
    .loader {
        display: none;
    }
    .waitingscreen {
        display: none!important;
    }

}
